div.ss-container {
    width: 750px;
    height: 495px;
    box-shadow: 0 0 1pt 1px;
    position: relative;
    font-size: 16px;
}

main {
    margin-top: 5em;
    margin-left: 23em;
}

nav {
    background-image: url("img/header_galaxy.jpg");
    background-size: cover;
    background-color: rgb(0, 0, 78);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-left: -10px;
    text-align: center;
}

#sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: 5em;
    padding-top: 100px;
    background-color: rgb(156, 185, 223);
    display: flex;
    flex-direction: column;
}


#sidebar button, #sidebar h3 {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(51, 51, 51);
    display: block;
    background:none;
    border: none;
    width: 100%;
    text-align: center;
}

#sidebar button:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}

.ss-container {
  background-image: url('img/star_background.jpg');
  background-color: black;
}

h1, h2, h3, h4, h5, p, li, button, label, a {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 1;
}

.space h2 {
  text-align: center;
  padding-top: 0.25em;
  font-size: 2em;
}

.og {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.og h2 {
  font-size: 2em;
}


.og button, input[type="submit"] {
    padding: 8px;
    height: 4em;
    font-size: 1em;
    color: black;
    width: 10em;
    margin-top: 1em;
}

input[type="text"] {
    padding: 8px;
    height: 0.75em;
    width: 10em;
}

#resource-links a {
  display: block;
}

label, input, select {
  display: block;
  font-size: 1.75em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.spectrum, .sun-name, .number, .planet-input {
  display: inline-block;
  margin-left: 0.5em;
}

input[type="radio"] {
  margin-left: 1.25em;
}

#rings {
  width: 0.75em;
  height: 0.75em;
}

label.number5 {
  margin-right: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Solar System Styling */
.star, .orbit, .planet {
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 50%;
    z-index: 2;
  }

  .star.O {
    background-color: rgb(204, 255, 255);
    box-shadow: 0 0 60px 10px rgb(217, 242, 242);
    width: 5em;
    height: 5em;
    margin-top: -2.5em;
    margin-left: -2.5em;
  }

  .star.B {
    background-color: rgb(212, 247, 247);
    box-shadow: 0 0 50px 10px rgb(221, 238, 238, 0.8);
    width: 4em;
    height: 4em;
    margin-top: -2em;
    margin-left: -2em;
  }

  .star.A {
    background-color: rgb(229, 255, 255);
    box-shadow: 0 0 40px 10px rgb(237, 248, 248, 0.7);
    width: 3.5em;
    height: 3.5em;
    margin-top: -1.75em;
    margin-left: -1.75em;
  }

  .star.F {
    background-color: rgb(234, 251, 247);
    box-shadow: 0 0 35px 10px rgb(240, 245, 244, 0.6);
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
  }

  .star.G {
    background-color: rgb(255, 224, 102);
    box-shadow: 0 0 35px 10px rgb(223, 223, 159, 0.5);
    width: 2.5em;
    height: 2.5em;
    margin-top: -1.25em;
    margin-left: -1.25em;
  }

  .star.K {
    background-color: #FB7209;
    box-shadow: 0 0 30px 8px rgba(255, 160, 60, 0.5);
    width: 2em;
    height: 2em;
    margin-top: -1em;
    margin-left: -1em;
  }

  .star.M {
    background-color: rgb(255, 64, 0);
    box-shadow: 0 0 25px 8px rgb(209, 125, 97, 0.4);
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.75em;
    margin-left: -0.75em;
  }

  .orbit {
    z-index: 1;
    border: 1px solid rgb(255, 255, 255, 0.4);
  }

  .orbit.first {
    width: 8em;
    height: 8em;
    margin-top: -4em;
    margin-left: -4em;
  }
  .orbit.second {
    width: 12em;
    height: 12em;
    margin-top: -6em;
    margin-left: -6em;
  }
  .orbit.third {
    width: 16em;
    height: 16em;
    margin-top: -8em;
    margin-left: -8em;
  }
  .orbit.fourth {
    width: 20em;
    height: 20em;
    margin-top: -10em;
    margin-left: -10em;
  }
  .orbit.fifth {
    width: 24em;
    height: 24em;
    margin-top: -12em;
    margin-left: -12em;
  }
  
  .planet {
    z-index: 10;
    background-color: orange;
    box-shadow: inset 1em 0 0.5em rgba(26, 17, 17, 0.4);
  }

  .planet.large {
    width: 2em;
    height: 2em;
    margin-top: -1em;
  }
  .rings.large {
    height: 1em;
    width: 3em;
    margin-top: -0.75em;
  }
  .planet.first.large {
    margin-left: -5em;
  }
  .rings.large.first {
    margin-left: -5.75em;
  }
  .planet.second.large {
    margin-left: -7em;
  }
  .rings.large.second {
    margin-left: -7.75em;
  }
  .planet.third.large {
    margin-left: -9em;
  }
  .rings.large.third {
    margin-left: -9.75em;
  }
  .planet.fourth.large {
    margin-left: -11em;
  }
  .rings.large.fourth {
    margin-left: -11.75em;
  }
  .planet.fifth.large {
    margin-left: -13em;
  }
  .rings.large.fifth {
    margin-left: -13.75em;
  }

  .planet.medium {
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.75em;
  }
  .rings.medium {
    height: 0.75em;
    width: 2.25em;
    margin-top: -0.625em;
  }
  .planet.first.medium {
    margin-left: -4.75em;
  }
  .rings.medium.first {
    margin-left: -5.325em;
  }
  .planet.second.medium {
    margin-left: -6.75em;
  }
  .rings.medium.second {
    margin-left: -7.325em;
  }
  .planet.third.medium {
    margin-left: -8.75em;
  }
  .rings.medium.third {
    margin-left: -9.325em;
  }
  .planet.fourth.medium {
    margin-left: -10.75em;
  }
  .rings.medium.fourth {
    margin-left: -11.325em;
  }
  .planet.fifth.medium {
    margin-left: -12.75em;
  }
  .rings.medium.fifth {
    margin-left: -13.325em;
  }

  .planet.small {
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
  }
  .rings.small {
    height: 0.5em;
    width: 1.5em;
    margin-top: -0.5em;
  }
  .planet.first.small {
    margin-left: -4.5em;
  }
  .rings.small.first {
    margin-left: -5em;
  }
  .planet.second.small {
    margin-left: -6.5em;
  }
  .rings.small.second {
    margin-left: -7em;
  }
  .planet.third.small {
    margin-left: -8.5em;
  }
  .rings.small.third {
    margin-left: -9em;
  }
  .planet.fourth.small {
    margin-left: -10.5em;
  }
  .rings.small.fourth {
    margin-left: -11em;
  }
  .planet.fifth.small {
    margin-left: -12.5em;
  }
  .rings.small.fifth {
    margin-left: -13em;
  }
  
  .planet.gaseous {
    background-color: orange;
  }
  .planet.rocky {
    background-color: rgb(201, 25, 25);
  }
  .planet.earth-like {
    background-color: rgb(22, 33, 190);
  }
  .planet.icy {
    background-color: rgb(106, 194, 223);
  }

  .rings {
    background: none;
    border: 4px solid rgba(238, 118, 48, 0.3);
    transform: rotate(45deg);
    box-shadow: none;
  }

  /* Solar Sytem text and mouseover box styling */
  .names {
    position: absolute;
    top: 20%;
    left: 65%;
    height: auto;
    width: 15em;
  }

  .names h3, .names li, .info h3, .info li {
    text-align: left;
    font-size: 180%;
    color: rgb(123, 172, 187);
  }

  .info h3 {
    margin-top: 0;
    padding-top: 0;
  }

  .names h3 {
    margin-left: 1em;
    color: rgb(176, 227, 243);
  }

  .info {
    position: absolute;
    top: 20%;
    left: 41.5%;
    height: auto;
    width: 19em;
    border: 1px solid rgb(173, 172, 172);
    background-color: rgba(18, 25, 92, 0.9);
    z-index: 99;
    overflow: hidden;
    font-size: 0.55em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10%;
  }

  .orbit.selected {
    border: 2px solid rgb(255, 255, 255);
  }

